*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: #080808;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: #ffffff;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header{
    height: 100vh;
    color: #ffffff;
    overflow: hidden;
}

section{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.section{
    transform: translateY(-100%);
    transition: all .4s ease-in-out;
    background-color: #080808;
}

.sec1{
    display: none;
    transform: translateY(0) scale(1);
    background-color: green;
}

.sec2{
    display: none;
    transform: translateY(0) scale(1);
    background-color: red;
}

.sec3{
    display: none;
    transform: translateY(0) scale(1);
    background-color: yellow;
}

.sec4{
    display: none;
    transform: translateY(0) scale(1); 
    background-color: blue;
}

// Controls
.controls{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .control{
        padding: 1rem;
        cursor: pointer;
        background-color: grey;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;
        box-shadow: 0 3px 15px rgba(0,0,0,.3);
        i{
            font-size: 1.2rem;
            color: grey;
            pointer-events: none;
        }
    }
}